{% load static %}
<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid d-flex justify-content-around  p-3 mb-3 bg-body rounded">
        <a class="navbar-brand" href="#"><img src="{% static 'apprein/img/logo.jpg' %}" class="img-fluid w-50"
            alt="..."></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-end border-dark" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
                  <li class="nav-item mx-4 item rounded-1 {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link fw-bolder" aria-current="page" href="{% url 'home' %}">Inicio</a>
                  </li>
                  <li class="nav-item mx-4 item rounded-1 {% if request.path == '/blog' %}active{% endif %}">
                    <a class="nav-link fw-bolder" href="{% url 'blog' %}">blog</a>
                  </li>
                  <li class="nav-item mx-4 item rounded-1 {% if request.path == '/foro' %}active{% endif %}">
                    <a class="nav-link fw-bolder" href="{% url 'foro' %}">foro</a>
                  </li>
                  <li class="nav-item mx-4 item rounded-1 {% if request.path == '/calendario' %}active{% endif %}">
                    <a class="nav-link fw-bolder" href="{% url 'calendario' %}">Calendario</a>
                  </li>
                  
                  <li class="nav-item mx-4 item rounded-1 ">
                    <a class="nav-link fw-bolder" href="{% url 'logout' %}">Cerrar Sesión</a>
                  </li>
            {% else %}
                <li class="nav-item mx-4 item rounded-1 {% if request.path == '/' %}active{% endif %}">
                  <a class="nav-link fw-bolder" aria-current="page" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item mx-4 item rounded-1 {% if request.path == '/blog' %}active{% endif %}">
                  <a class="nav-link fw-bolder" href="{% url 'blog' %}">blog</a>
                </li>
                <li class="nav-item mx-4 item rounded-1 {% if request.path == '/foro' %}active{% endif %}">
                  <a class="nav-link fw-bolder" href="{% url 'foro' %}">foro</a>
                </li>
                <li class="nav-item mx-4 item rounded-1 {% if request.path == '/calendario' %}active{% endif %}">
                  <a class="nav-link fw-bolder" href="{% url 'calendario' %}">Calendario</a>
                </li>
                <li class="nav-item mx-4 item rounded-1 ">
                  <a class="nav-link fw-bolder" href="{% url 'login' %}"> <i class="fa fa-user"></i> Login</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </div>
      
      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><img src="{% static 'apprein/img/carnet.jpg' %}"
                class="img-fluid w-50 rounded-circle" alt="..."></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              4768 pts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Item 1</a></li>
              <li><a class="dropdown-item" href="#">Item 2</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Item 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-bell fs-1 text-dark"></i></a>
          </li>
        </ul>
      </div>
      {% endif %}
        
    </div>
  
    </nav>
  </div>
        
