{% load static %}
<!-- PROBAR COLOCAR TODO DENTRO DE UN NAVBAR GLOBAL -->


    <nav  class="navbar navbar-expand-lg navbar-light p-0 w-100 mb-5">
      <div class="container-fluid p-0">
        <a class="navbar-brand" href="#">
          <img src="{% static 'apprein/img/logoreintres.png' %}" class="rounded"
            alt="..." width="180">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100 d-flex flex-wrap">
            {% if user.is_authenticated %}
                  <li class="nav-item mx-3 rounded-1 d-flex  {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link fw-bolder m-auto" aria-current="page" href="{% url 'home' %}">Inicio</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 d-flex {% if request.path == '/blog' %}active{% endif %}">
                    <a class="nav-link fw-bolder m-auto" href="{% url 'blog' %}">Blog</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 d-flex {% if request.path == '/foro' %}active{% endif %}">
                    <a class="nav-link fw-bolder m-auto" href="{% url 'foro' %}">Foro</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 d-flex {% if request.path == '/calendario' %}active{% endif %}">
                    <a class="nav-link fw-bolder m-auto" href="{% url 'calendario' %}">Calendario</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 d-flex {% if request.path == '/eventos' %}active{% endif %}">
                    <a class="nav-link fw-bolder m-auto" href="{% url 'eventos' %}">Dale Play</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 d-flex">
                    <a class="nav-link fw-bolder d-flex m-auto" href="{% url 'logout' %}">Logout&nbsp;<i class="fa fa-sign-out-alt m-auto"></i></a>
                  </li>
                  <li class="rounded-1 p-1 ms-auto d-flex justify-content-around align-items-center">
        
                      {% if request.user.username == 'administrador' %}
                      
                        <div class="dropdown me-2">
                          <button class="btn dropdown-toggle fs-6 fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Elije Acción</button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" onclick="abrirmodalcrearcategorias('{% url 'crearcategorias' %}')">Agregar Categoria</a></li>
                             <li><a class="dropdown-item" href="{% url 'listarcategorias' %}">Consultar Categorias</a></li>
                            <li><a class="dropdown-item" onclick="abrirmodalcrearempresa('{% url 'crearempresas' %}')">Agregar nueva empresa</a></li>
                            <li><a class="dropdown-item" href="{% url 'empresasregistradas' %}">Consultar empresa</a></li>
                            <li><a class="dropdown-item" onclick="abrirmodalcrearcuentausuario('{% url 'crearcuenta' %}')">Agregar usuario</a></li>
                            <li><a class="dropdown-item" href="#">Consultar usuario</a></li>
                            
                          </ul>
                        </div>    

                      {% endif %}
                      <a class="text-decoration-none fs-5 fw-bolder text-capitalize d-block me-1 d-flex justify-content-center" href="{% url 'perfil' request.user.username %}"><img src="{{ request.user.perfil.imagenperfil.url }}" class="img rounded-circle me-2" width="50" height="50" alt="..." title="{{ request.user.username | capfirst }}"></a>
                      
                      
                      
                      </div>
                    </div>
                  </li>
            {% else %}
                  <li class="nav-item mx-3 rounded-1 {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link fw-bolder" aria-current="page" href="{% url 'home' %}">Inicio</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 {% if request.path == '/blog' %}active{% endif %}">
                    <a class="nav-link fw-bolder" href="{% url 'blog' %}">Blog</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 {% if request.path == '/foro' %}active{% endif %}">
                    <a class="nav-link fw-bolder" href="{% url 'foro' %}">Foro</a>
                  </li>
                  <li class="nav-item mx-3 rounded-1 {% if request.path == '/calendario' %}active{% endif %}">
                    <a class="nav-link fw-bolder" href="{% url 'calendario' %}">Calendario</a>
                  </li>
                   <li class="nav-item mx-3 rounded-1 d-flex {% if request.path == '/eventos' %}active{% endif %}">
                    <a class="nav-link fw-bolder m-auto" href="{% url 'eventos' %}">Dale play</a>
                  </li>
                  <li class="nav-item mx-2 rounded-1 flex-grow-1 text-sm-start text-md-start text-lg-end text-xl-end">
                    <a class="nav-link fw-bolder" href="{% url 'login' %}"> <i class="fa fa-user"></i> Login</a>
                  </li>
            {% endif %}
            
          </ul>
        </div>
      </div>
      
    </nav>
    


    
  
