{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="{% static 'apprein/css/reinestilo.css' %}">

    <title>Calendario</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
                {% include 'apprein/cabecera.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center p-4 my-1">
      <div class="row">
        <div class="col-8">
          <p class="h2 mb-3 fw-bold py-2">Calendario ReIN</p>
          <p class="fs-4 mb-3 py-1">La agenda de trabajo es aquella donde se asientan, disponen y programan, de manera
            ordenada y jerárquica</p>
        </div>
        <div class="col-12">
          <div class="container d-flex justify-content-around align-items-center flex-nowrap">
            <div class="">
              <div class="input-group my-2">
                <input type="text" class="form-control fs-5 fw-bolder border-0" placeholder="Buscar"
                  aria-label="Username" aria-describedby="addon-wrapping">
                <span class="input-group-text bg-white border-0" id="addon-wrapping"><a href=""><img
                      src="{% static 'apprein/img/lupa.jpg' %}" alt=""></a></span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <label for="exampleFormControlInput1" class="form-label me-3 fs-4 fw-bolder p-1">FECHA:</label>
              <select class="form-select m-1 fs-4 fw-bolder border-0 pt-0" aria-label="Default select example">
                <option selected>Mes</option>
                <option value="1">ENERO</option>
                <option value="2">FEBRERO</option>
                <option value="3">MARZO</option>
              </select>
              <select class="form-select m-1 fs-4 fw-bolder border-0 pt-0" aria-label="Default select example">
                <option selected>Año</option>
                <option value="1">2021</option>
                <option value="2">2020</option>
                <option value="3">2019</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="card my-1 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card ">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
  </body>
    
</html>