{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}



{% block title %} blog ReIN {% endblock %}

{% include "apprein/cabecera.html" %}

{% block content %}


<div class="row">
  {% if messages %}

      {% for mensaje in messages  %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ mensaje }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endfor %}

  {% endif %}
  <div class="col-12">
      <p class="h2 mb-2 fw-bold py-2">Blog Rein</p>
  </div>
  <div class="col-5">
        <form action="/appblog/busquedablog/" method="get" class="d-flex">
          {% csrf_token %}
          <input type="text" class="form-control border-0 me-2 mb-4" placeholder="Buscar en el blog" aria-label="Username" aria-describedby="addon-wrapping" name="buscar" value="{{ query }}">
          <button class="input-group-text bg-white border-0" type="submit" value=""><i class="fas fa-search fs-3 text-dark"></i></button>
        </form>
  </div>
  <div class="col-4">
    
  </div>
  
  {% if user.is_authenticated %}
  <div class="col-3 d-flex align-items-center justify-content-end">
    <span class="enlace">Añadir Entrada&nbsp;</span>&nbsp;<a class="enlace" href="{% url 'nuevaentrada' %}"><i class="fa fa-plus-square fs-2"></i></a>
      <!-- <li><a class="nav-link bg-boton-categoria item text-white fw-bold border-bottom border-white" href="">Modificar
          Entrada</a></li>
      <li><a class="nav-link bg-boton-categoria item text-white fw-bold" href="#">Eliminar Entrada</a></li> -->
    
    <!-- <div class="dropdown">
      <button class="btn btn-secondary bg-boton-categoria dropdown-toggle text-white fw-bold" type="button"
        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Acciones</button>
      
    </div> -->
  </div>
    
  {% endif %}
    

  {% for entradablog in blogs %}

  <div class="col-12 col-lg-6 mb-2">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="card">
       
       {% if entradablog.imagen %}
       <img src="{{ entradablog.imagen.url }}" class="img-fluid rounded-3" alt="..." style="width:100%; height:220px;">
       {% else %}
       <img src="{% static 'apprein/img/logo.jpg' %}" class="img-fluid rounded-3" alt="..." style="width:100%; height:220px;">
        
       {% endif %}
         

      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="panelsStayOpen-heading{{entradablog.id}}">
          <div class="container d-flex">
            <div class="w-100">
              <p class="h5 fw-bold p-2"><a class="enlace" href="{% url 'articuloblog' entradablog.id %}">{{entradablog.titulo}}</a></p><!--Agregar la vista para el articulo completo-->
            </div>
            <div class="flex-shrink-1 m-auto">
              <button class="accordion-button bg-white text-dark p-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse{{entradablog.id}}" aria-expanded="true"
                aria-controls="panelsStayOpen-collapse{{entradablog.id}}">
              </button>
            </div>
          </div>
        </h2>
        <div id="panelsStayOpen-collapse{{entradablog.id}}" class="accordion-collapse collapse border-0"
          aria-labelledby="panelsStayOpen-heading{{entradablog.id}}">
          <div class="accordion-body">
            <p style="text-overflow: ellipsis; text-align: justify;white-space: nowrap;overflow: hidden; font-size: 1.2rem;">{{entradablog.descripcion}}</p>
            <p style="text-align:justify;">Categoria: {{entradablog.categoria}}</p>
            <p style="text-align:right;">Creado {{entradablog.created|naturaltime }}</p>
            <p style="text-align:right;">Por {{ entradablog.autor }}</p>
          </div>
        </div>
        {% if user.is_authenticated %}
        <div>
          <a href="{% url 'modificarentradablog' entradablog.id %}" class="btn btn-lg text-warning"><i class="fa fa-pen"></i></a>
          <a href="{% url 'eliminararticulo' entradablog.id %}" class="btn btn-lg text-danger"><i class="fa fa-trash"></i></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock  %}
<!-- Columna derecha -->
{% include "apprein/sidebarderecho.html" %}
