{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}
{% block title %} blog ReIN {% endblock %}

{% include "apprein/cabecera.html" %}
{% block content %}


<h2>Blog ReIN</h2>

<div class="row mb-4">
<div class="col-8">
    <form action="/appblog/busquedablog/" method="get" class="d-flex">
      {% csrf_token %}
      <input type="text" class="form-control border" placeholder="Buscar en el blog" aria-label="Username" aria-describedby="addon-wrapping" name="buscar" value="{{ query }}" required>
      <button id="boton" class="input-group-text bg-white border" type="submit" value=""><i class="fas fa-search fs-3 text-dark"></i></button>

    </form>
    
    
</div>
<div class="col-4 d-flex align-items-center justify-content-end">
  {% if user.is_authenticated %}
    <span class="enlace">Añadir Entrada&nbsp;</span>&nbsp;<a class="enlace" href="{% url 'nuevaentrada' %}"><i class="fa fa-plus-square fs-2"></i></a>

    
  {% endif %}
</div>

</div>

{% if datosencontrados %}

    <p class="h2 mb-3 fw-bold py-2">Se encontraron {{ cantidad }} coincidencias</p>
    {% for datosblog in datosencontrados  %}
        <div class="row mb-3 p-1 border">
            <div class="col-3 d-flex p-1">
                <img src="{{ datosblog.imagen.url }}" class="img-fluid rounded-2" alt="...">

            </div>
            <div class="col-9 p-2">
                <div class="container">
                    <p class="fs-5 fw-bold"><a href="{% url 'articuloblog' datosblog.id %}" class="enlace">{{ datosblog.titulo}}</a></p>
                    <p class="">Categoria: {{ datosblog.categoria}}</p>
                    <p class="">Fecha: {{ datosblog.created}}</p>
                    <p class="">Usuario: {{ datosblog.autor }}</p>
                  
                        
                    

                    {% if user.is_authenticated %}
                        <div class="text-end">
                            
                            {% if request.user == datosblog.autor %}
                                <a href="{% url 'modificarentradablog' datosblog.id %}" class="btn btn-lg text-warning"><i class="fa fa-pen"></i></a>
                                <a href="{% url 'eliminararticulo' datosblog.id %}" class="btn btn-lg text-danger"><i class="fa fa-trash"></i></a>
                            {% endif %}
                                
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>              
    {% endfor %}
    <div class="row">
        <div class="col-12">
            <div class="card-footer">
                {% if user.is_authenticated %}
                    <div class="text-end">
                            <a href="{% url 'blog' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                    </div>
                {% else %}
                        <div class="text-end">
                            <a href="{% url 'blog' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>

{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>Se encontraron {{ datosencontrados|length }} coincidencias </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-footer">
                {% if user.is_authenticated %}
                    <div class="text-end">
                            <a href="{% url 'blog' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                    </div>
                {% else %}
                        <div class="text-end">
                            <a href="{% url 'blog' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% include "apprein/snipets/appblog/crearcategorias.html" %}
{% endblock  %}



