{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}



{% block title %} Modificar Entrada {% endblock %}



{% block content  %}



<form action="" method="post" class="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group my-3">
        <input type="hidden" name="idarticulo" value="{{articuloblog.id}}">
        <label class="my-3 fw-bold" for="">Titulo de la Entrada:</label>
        <input type="text" class="form-control border border-dark" name="tituloe" id="tituloe"
            placeholder="Ingrese el titulo de la entrada" value="{{articuloblog.titulo}}">
    </div>
    <div class="form-group my-3">
        <label class="my-3 fw-bold" for="">Contenido de la Entrada:</label>
        <textarea class="form-control border border-dark" name="contenidoe" id="contenidoe" placeholder="Ingrese la descripción del Artículo" rows="3" style="min-height: 300px;">{{articuloblog.descripcion}}</textarea>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="form-group my-3">
                <label class="my-3 fw-bold" for="">Ingrese la categoria:</label>
                <input type="text" class="form-control border border-dark" name="categoriae" id="categoriae" value="{{articuloblog.categoria}}">
            </div>
            <div class="form-group my-3">
                <div class="mb-3">
                    <label for="formFile" class="form-label fw-bold">Seleccione la imagen de portada</label>
                    <input class="form-control border border-dark" type="file" id="verimagen" name="imagene" value="">
                </div>
            </div>

        </div>
        <div id="imagePreview" class="col-5 d-flex p-0 justify-content-end">
            <img id="imagenpreview" class="img-fluid border rounded" src="{{ articuloblog.imagen.url }}" alt="" name="imagenDestacada">
        </div>
    </div>


    <button type="submit" class="btn btn-primary bg-boton">Actualizar</button>
</form>

<!-- <select class="form-select my-2 p-2 w-50 border border-dark" aria-label="Default select example" name="categoriae">
    <option value="">Seleccione</option>

    {% for categoria in categoria %}

        <option 

        {% if categoria.id == articuloblog.categoria.id %}

        {{'selected'}}
         
        {% endif %}

        value="{{categoria.id}}">{{categoria.nombre}}</option>
    {% endfor %}
  </select> -->
<!-- <div class="row d-flex">
    <div class="col-12">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo de la Entrada</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el Titulo de Entrada">
          </div>
    </div>
    <div class="col-12">
        <label for="exampleFormControlInput1" class="form-label">Descripción</label>
        <div class="form-floating">
            
            <textarea class="form-control" placeholder="Ingrese el contenido del articulo" id="floatingTextarea" style="min-height:300px;"></textarea>
            
        </div>
    </div>
    <div class="col-2 m-auto">
        <p>Imagen Destacada:</p>
    </div>
    <div class="col-5 m-auto">
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>
    <div class="col-5 m-auto mt-3">
        <img class="w-100 img-fluid" src="{% static 'apprein/img/autismo.jpg' %}" alt="">
    </div>
    <div class="col-4 my-3">
        <label for="exampleFormControlInput1" class="form-label">Categorias:</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Categorias</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <div class="col-12">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Palabras Claves:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
    </div>

</div> -->


{% include "apprein/snipets/appblog/crearcategorias.html" %}
{% endblock  %}
