<style>
    .bg-subcategoria{
        background-color: #ab5637d6;
    }

    .bg-subcat{
        background-color: #f54c0f66;
    }
</style>
<div class="col-12 col-lg-3">
    <form action="/apprein/buscador/" method="get" class="d-flex">
            
           
        <div class="input-group mb-3">
          <input type="text" name="buscar" class="form-control" value="{{valor}}"  placeholder="Buscar en ReIN" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-light border" type="submit" id="button-addon2"><i class="fas fa-search fs-3 text-dark"></i></button>
        </div>
      </form>
    
    {% if categorias %}
        {% for cat in categorias  %}
        <div class="accordion my-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{cat.id}}">
                    <button class="accordion-button bg-boton-categoria rounded text-white fs-6 fw-bold text-capitalize" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{cat.id}}" aria-expanded="true" aria-controls="collapse{{cat.id}}">{{cat.nombre}}</button>
                </h2>
                <div id="collapse{{cat.id}}" class="accordion-collapse collapse " aria-labelledby="heading{{cat.id}}" data-bs-parent="#accordionExample">
                    
                            
                            {% for subc in subcat  %}                            
                                {% if subc.categoriarel_id == cat.id %}
                                <a href="#" class="bg-subcat text-dark text-decoration-none d-block p-2">{{subc.nombre}}</a>
                                {% endif %}    
                            {% endfor %}
                    
                    
                        {% if user.is_authenticated %}                               
        
                            {% if user.username == 'administrador' %}
                                <a class="bg-subcategoria text-white text-decoration-none d-block text-end p-2 fs-6" onclick="abrirmodalcrearsubcategorias('{% url 'crearsubcategorias' %}')" role="button">Ver Categoria gral</a>
                                <a class="bg-subcategoria text-white text-decoration-none d-block text-end p-2 fs-6" onclick="abrirmodalcrearsubcategorias('{% url 'crearsubcategorias' %}')" role="button">Agregar SubCategoria &nbsp;<i class="fas fa-plus-circle"></i></a>
                            {% endif %}                     
                        {% endif %}
                    
                </div>
                
            </div>
            
        </div>
        {% endfor %} 
    {% endif %}
        
    
    </div>
  </div>