
<div class="modal fade" id="modalingresarcategoria" tabindex="-1" aria-hidden="true" aria-labelledby="modelTitle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h2 mb-2 fw-bold py-2">Crear Nuevas Categorias</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
                        <form action="{% url 'crearcategorias' %}" method="post">
                            {% csrf_token %}
                            
                            <input type="text" name="nombrecategoria" class="form-control mb-3" onkeyup="javascript:this.value=this.value.toLowerCase();">
                            
                            <input class="btn bg-boton text-white" type="submit" value="Guardar">
                        </form>
            </div>
        </div>
    </div>
</div>