{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}



{% block title %} Calendario ReIN {% endblock %}

{% include "apprein/cabecera.html" %}

{% block content %}
      <div class="row">
        <div class="col-12">
          <p class="h2 mb-3 fw-bold py-2">Calendario ReIN</p>
          <p class="fs-4 mb-3 py-1 texto-justificado">Recuerda que hay eventos exclusivos para empresas ReIN y otros que son abiertos, ingresa a cada evento  para acceder a los detalles, al link de inscripción o ha la grabación según corresponda</p>
        </div>
        <div class="col-12">
          <div class="container d-flex justify-content-around align-items-center flex-nowrap">
            <div class="">
              <div class="input-group my-2">
                <input type="text" class="form-control fs-5 fw-bolder border" placeholder="Buscar"
                  aria-label="Username" aria-describedby="addon-wrapping">
                <span class="input-group-text bg-white border" id="addon-wrapping"><a href=""><img
                      src="{% static 'apprein/img/lupa.jpg' %}" alt=""></a></span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <label for="exampleFormControlInput1" class="form-label me-3 fs-4 fw-bolder p-1">FECHA:</label>
              <select class="form-select m-1 fs-4 fw-bolder border-0 pt-0" aria-label="Default select example">
                <option selected>Mes</option>
                <option value="1">ENERO</option>
                <option value="2">FEBRERO</option>
                <option value="3">MARZO</option>
              </select>
              <select class="form-select m-1 fs-4 fw-bolder border-0 pt-0" aria-label="Default select example">
                <option selected>Año</option>
                <option value="1">2021</option>
                <option value="2">2020</option>
                <option value="3">2019</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="card my-1 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card ">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0 border-card">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card my-1 rounded-3 p-1 border-0">
                <img src="{% static 'apprein/img/eventos.jpg' %}" class="card-img-top position-relative" alt="...">
                <div class="card-body bg-light p-1 border-0 border-card position-static top-50 translate-middle-y mt-4">
                  <p class="card-title fs-5 fw-bolder">Dialogo OMIL</p>
                  <p class="card-title fs-5 fw-bolder">3:00p.m.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "apprein/snipets/appblog/crearcategorias.html" %}
    {% endblock %}
    <!-- Columna derecha -->
