{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}

{% block title %} {{datosencontrados.tituloevento }} {% endblock %}

{% include "apprein/cabecera.html" %}

{% block content %}
<style>
  .imagenprincipal{
    width: 100%;
    height: 30rem;
  }
</style>

<div class="row justify-content-center">
    <div class="col-10">
        <div class="card mb-3 border-0">
            <img src="{{ datosencontrados.imagenevento.url }}" class="card-img-top imagenprincipal" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ datosencontrados.tituloevento }}</h5>
              <p class="card-text texto-justificado">{{ datosencontrados.contenidoevento }}</p>
              <p class="card-text fw-bold">Fecha del Evento: {{ datosencontrados.fechaevento }}</p>
              <p>Inscripción: <a  class="enlace" href="{{ datosencontrados.eventolink}}">Click Aquí</a></p>
              <p class="card-text"><img class="border rounded-circle" src="{{datosencontrados.autorevento.perfil.imagenperfil.url}}" alt="" width="50" height="50"> <small class="text-muted">Autor: {{ datosencontrados.autorevento }}</small></p>
              <p style="text-align:justify;">Categoria:
                {% for listadocategorias in datosencontrados.categoriaevento.all %}
              <span class="d-inline">{{listadocategorias.nombre}} / </span> 
              
                {% endfor %}
              </p>
            </div>
            <div class="card-footer">
                {% if user.is_authenticated %} 
                <div class="text-end">
                    
                    {% if request.user == datosencontrados.autorevento %}
                   
                        <a  onclick="abrirmodaleditarevento('{% url 'editarevento' datosencontrados.id %}')" class="btn btn-md text-warning" role="button"><i class="fa fa-pen"></i> Editar</a>
                        <a href="{% url 'eliminarevento' datosencontrados.id %}" class="btn btn-md text-danger"><i class="fa fa-trash"></i> Eliminar</a>
                        <a id="comentarios" href="#" class="btn btn-md text-success"><i class="far fa-comment-alt"></i>Comentar</a>
                    {% endif %}
                        
                    
                    <a href="{% url 'eventos' %}" class="btn btn-md text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                </div>
                {% else %}
                <div class="text-end">
                    <a href="{% url 'eventos' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                </div>
                {% endif %}
            </div>
            <div id="registrarcomentario" class="card">
                <div class="card-header">
                  Comentarios
                </div>
                <div class="card-body">
                  <form action="{% url 'registrarcomentarios' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="hidden" name="idarticulo" value="{{datosencontrados.id}}">
                      <input type="hidden" name="idusuario" value="{{request.user.id}}">
                    </div>
                    <div class="form-group">
                      {{ formcomentarios }}
                    </div>
                    <div class="form-group">
                      <button class="btn bg-boton" type="submit">Enviar</button>
                    </div>
                  </form>
                  
                </div>
            </div>
             <div>
               {% if comentarios %}

                    <h2 class="my-5">Comentarios Publicados</h2>
                    

                        {% for comentariosart in comentarios  %}
                            {% if comentariosart.entradablogs_id == articulo.id %}
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">{{ comentariosart.titulocomentario}}</h5>
                                
                                <p class="card-text">{{ comentariosart.comentario}}</p>
                                <p class="card-text">Creado: {{comentariosart.created | naturaltime}}</p>
                                <p class="card-text">Comentado por: <img src="{{comentariosart.autorcoment.perfil.imagenperfil.url}}" class="rounded-circle" width="50" height="50" alt="">&nbsp;{{comentariosart.autorcoment}}</p>
                              </div>
                            </div>
                            {% endif %}

                        {% endfor %}    
                 
               {% else %}
                    <div class="alert alert-warning" role="alert">
                      <p>Esta publicacion aun no tiene comentarios</p>
                    </div>
               {% endif %}
             </div>
              

        </div>
        
       <div>
        
       </div>
          

    </div>
    
</div>

{% endblock %}



    
