{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}

{% block title %} {{datosencontrados.tituloevento }} {% endblock %}

{% include "apprein/cabecera.html" %}

{% block content %}
<style>
  .imagenprincipal{
    width: 100%;
    height: 30rem;
  }
</style>

<div class="row justify-content-center">
    <div class="col-10">
        <div class="card mb-3 border-0">
            <img src="{{ datosencontrados.imagenevento.url }}" class="card-img-top imagenprincipal" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ datosencontrados.tituloevento }}</h5>
              <p class="card-text texto-justificado">{{ datosencontrados.contenidoevento }}</p>
              <p class="card-text fw-bold">Fecha del Evento: {{ datosencontrados.fechaevento }}</p>
              <p>Inscripción: <a  class="enlace" href="{{ datosencontrados.eventolink}}">Click Aquí</a></p>
              <p class="card-text"><img class="border rounded-circle" src="{{datosencontrados.autorevento.perfil.imagenperfil.url}}" alt="" width="50" height="50"> <small class="text-muted">Autor: {{ datosencontrados.autorevento }}</small></p>
              <p style="text-align:justify;">Categoria:
                {% for listadocategorias in datosencontrados.categoriaevento.all %}
              <span class="d-inline">{{listadocategorias.nombre}} / </span> 
              
                {% endfor %}
              </p>
            </div>
            <div class="card-footer mb-3">
                {% if user.is_authenticated %} 
                <div class="text-end">
                    
                    {% if request.user == datosencontrados.autorevento %}
                   
                        <a  onclick="abrirmodaleditarevento('{% url 'editarevento' datosencontrados.id %}')" class="btn btn-md text-warning" role="button"><i class="fa fa-pen"></i> Editar</a>
                        <a href="{% url 'eliminarevento' datosencontrados.id %}" class="btn btn-md text-danger"><i class="fa fa-trash"></i> Eliminar</a>
                        <a onclick="abrirmodalagregarcomentarioeventos('{% url 'agregarcomentarioeventos' datosencontrados.id %}')"  class="btn btn-md text-success"><i class="far fa-comment-alt"></i>Comentar</a>
                    {% endif %}
                        
                    
                    <a href="{% url 'eventos' %}" class="btn btn-md text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                </div>
                {% else %}
                <div class="text-end">
                    <a href="{% url 'eventos' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                </div>
                {% endif %}
            </div>
            {% for c in comentario %}
            {% if c.comentariosevento_id == datosencontrados.id %}
              <div class="card mb-3">
                <div class="card-header align-content-center">
                  <p class="d-flex align-items-center"><img class="rounded-circle" src="{{c.autorcomentarioeventos.perfil.imagenperfil.url}}" alt="" width="25" height="25">&nbsp;{{c.autorcomentarioeventos.username}}</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{c.comentarioevento}}</h5>
                  <p class="card-text text-end">{{ c.created | naturaltime}}</p>
                </div>
              </div>
               
              
            {% endif %}
            {% endfor %}
              

        </div>
        
       <div>
        
       </div>
          

    </div>
    
</div>

{% endblock %}



    
