{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}



{% block title %} Nueva Entrada {% endblock %}


{% block content %}


<h2>Nuevo Foro</h2>

<div class="row">
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{form}}

            <button type="submit" class="btn btn-primary bg-boton">Públicar</button>
        </form>
    </div>
</div>

{% include "apprein/snipets/appblog/crearcategorias.html" %}
{% endblock  %}
{% block sidebar %}
  {% include "apprein/snipets/apprein/sidebar.html" %}
{% endblock sidebar %}






            <!-- <div class="form group my-2">
                {{form.titulo.label_tag}}
                {{form.titulo}}
            </div>
            <div class="form group my-2">
                {{form.contenido.label_tag}}
                {{form.contenido}}
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="form-group my-2">
                        {{ form.categoria.label_tag}}
                        {{ form.categoria}}
                    </div>
                    <div class="form-group my-2">
                        {{ form.imagen.label_tag}}
                        {{ form.imagen}}
                    </div>
                </div>
                <div class="col-5 d-flex p-0 justify-content-end my-2">
                    <img id="imagenpreview" class="img-fluid border rounded" src="../../../media/blogs/autismo.jpg" alt="" name="imagenDestacada">
                </div>
            </div> -->
  <!-- <div class="container">
        <form action="/appforo/busquedaforo/" method="get" class="d-flex">
        {% csrf_token %}
            <input type="text" class="form-control border-0 me-2 mb-4" placeholder="Buscar en el foro" aria-label="Username" aria-describedby="addon-wrapping" name="buscar" value="{{ query }}">
            <button class="input-group-text bg-white border-0" type="submit" value=""><i class="fas fa-search fs-3 text-dark"></i></button>
        </form>
  </div>

{% if datosencontrados %}

    <p class="h2 mb-3 fw-bold py-2">Se encontraron {{ cantidad }} coincidencias</p>
    {% for datosforo in datosencontrados  %}
        <div class="row mb-3 p-1 border">
            <div class="col-3 d-flex p-1">
                <img src="{{ datosforo.imagen.url }}" class="img-fluid rounded-2" alt="...">

            </div>
            <div class="col-9 p-2">
                <div class="container">
                    <p class="fs-5 fw-bold"><a href="{% url 'articuloforo' datosforo.id %}" class="enlace">{{ datosforo.titulo}}</a></p>
                    <p class="">Categoria: {{ datosforo.categoria}}</p>
                    <p class="">Fecha: {{ datosforo.created}}</p>
                    <p class="">Usuario: {{ datosforo.autor }}</p>
                  
                        
                    

                    {% if user.is_authenticated %}
                        <div class="text-end">
                            <a href="{% url 'modificarentradaforo' datosforo.id %}" class="btn btn-lg text-warning"><i class="fa fa-pen"></i></a>
                            <a href="{% url 'eliminararticulo' datosforo.id %}" class="btn btn-lg text-danger"><i class="fa fa-trash"></i></a>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>              
    {% endfor %}
    <div class="row">
        <div class="col-12">
            <div class="card-footer">
                {% if user.is_authenticated %}
                    <div class="text-end">
                            <a href="{% url 'foro' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                    </div>
                {% else %}
                        <div class="text-end">
                            <a href="{% url 'foro' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>

{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p>Se encontraron {{ datosencontrados|length }} coincidencias </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-footer">
                {% if user.is_authenticated %}
                    <div class="text-end">
                            <a href="{% url 'foro' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                    </div>
                {% else %}
                        <div class="text-end">
                            <a href="{% url 'foro' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %} -->



