{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}

{% block title %} Foro REIN {% endblock %}

{% block content %}
<style>
  .imagenprincipal {
    width: 100%;
    height: 30rem;
  }
</style>

<div class="row justify-content-center">
  <div class="col-10">
    <div class="card mb-3 border-0">
      <img src="{{ datosencontrados.imagenforo.url }}" class="card-img-top imagenprincipal" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ datosencontrados.tituloforo }}</h5>
        <p class="card-text texto-justificado">{{ datosencontrados.contenidoforo }}</p>
        <p class="card-text"><img class="border rounded-circle" src="{{datosencontrados.autorforo.perfil.imagenperfil.url}}"
            alt="" width="50" height="50"> <small class="text-muted">Autor: {{ datosencontrados.autorforo }}</small></p>
        <p style="text-align:justify;">Categoria:
          {% for listadocategorias in datosencontrados.categoriasforo.all %}
          <span class="d-inline">{{listadocategorias.nombre}} / </span>

          {% endfor %}
        </p>
        {% if user.is_authenticated %}
            <p>Ingresa a conversación: <a href="{% url 'chatforo' datosencontrados.id %}" class="text-decoration-none enlace">Click Aquí</a></p>
        {% endif %}
        
      </div>
      <div class="card-footer mb-3">
        {% if user.is_authenticated %}
        <div class="text-end">

          {% if request.user == datosencontrados.autorforo %}

          <a onclick="abrirmodaleditarblog('{% url 'editarblog' datosencontrados.id %}')"
            class="btn btn-md text-warning" role="button"><i class="fa fa-pen"></i> Editar</a>
          <a href="{% url 'eliminarblog' datosencontrados.id %}" class="btn btn-md text-danger"><i class="fa fa-trash"></i> Eliminar</a>
          
          {% endif %}
          <a onclick="abrirmodalagregarcomentarioforo('{% url 'agregarcomentarioforo' datosencontrados.id %}')"  class="btn btn-md text-success"><i class="far fa-comment-alt"></i>Comentar</a>


          <a href="{% url 'foro' %}" class="btn btn-md text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
        </div>
        {% else %}
        <div class="text-end">
          <a href="{% url 'foro' %}" class="btn btn-lg text-success "><i class="fa fa-arrow-circle-up"></i> Volver</a>
        </div>
        {% endif %}
      </div>
     
        
      <h5 class="my-2">Comentarios publicados</h5>
        {% for c in comentarioforo %}
        {% if c.comentariosfororel_id == datosencontrados.id %}
          <div class="card mb-3">
            
            <div class="card-header align-content-center">
              <p class="d-flex align-items-center"><img class="rounded-circle" src="{{c.autorcomentarioforo.perfil.imagenperfil.url}}" alt="" width="25" height="25">&nbsp;{{c.autorcomentarioforo.username}}</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{c.comentarioforo}}</h5>
              <p class="card-text text-end">{{ c.created | naturaltime}}</p>
            </div>
          </div>
          
          
        {% endif %}
      {% endfor %}
  


  </div>

</div>
</div>

{% endblock %}
