{% extends "apprein/plantilla.html" %}
{% load humanize %}
{% load static %}

{% block title %} Foro ReIN {% endblock %}

{% block content %}

<div class="row">
  
  <!-- {% if messages %}

      {% for mensaje in messages  %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ mensaje }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endfor %}

  {% endif %} -->
  <div class="col-12">
      <p class="h2 mb-2 fw-bold py-2">Foro ReIN</p>
      <p class="fs-4 mb-3 py-1">Intercambiar ideas y opiniones sobre diversos temas sobre inclusión laboral</p>
  </div>
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-8">
          <form action="/appforo/busquedaforo/" method="get" class="d-flex">
            
           
            <div class="input-group mb-3">
              <input type="text" name="buscar" class="form-control" value="{{ query }}"  placeholder="Buscar en foros publicados" aria-label="foros" aria-describedby="button-addon2">
              <button class="btn btn-outline-light border" type="submit" id="button-addon2"><i class="fas fa-search fs-3 text-dark"></i></button>
            </div>
          </form>
          
          
      </div>
      <div class="col-4 d-flex align-items-center justify-content-end">
        {% if user.is_authenticated %}
          <span class="">Añadir Foro&nbsp;</span>&nbsp;<a class="enlace" onclick="abrirmodalagregarforo('{% url 'agregarforo' %}')"><i class="fa fa-plus-square fs-2"></i></a>

        {% endif %}
      </div>

    </div>
        
  </div>

  {% if foro %}    
  
  {% for foropublicados in foro %}

  <div class="col-12 col-lg-6 mb-2">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="card">
       
       {% if foropublicados.imagenforo %}
       <img src="{{ foropublicados.imagenforo.url }}" class="img-fluid rounded-3" alt="..." style="width:100%; height:20rem;">
               
       {% endif %}
         

      </div>
      <div class="accordion-item border-0">
        <h2 class="accordion-header" id="panelsStayOpen-heading{{foropublicados.id}}">
          <div class="container d-flex">
            <div class="w-100">
              <p class="h5 fw-bold enlace">Leer detalles</p><!--Agregar la vista para el articulo completo-->
            </div>
            <div class="flex-shrink-1 m-auto">
              <button class="accordion-button bg-white text-dark p-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse{{foropublicados.id}}" aria-expanded="true"
                aria-controls="panelsStayOpen-collapse{{foropublicados.id}}">
              </button>
            </div>
          </div>
        </h2>
        <div id="panelsStayOpen-collapse{{foropublicados.id}}" class="accordion-collapse collapse border-0"
          aria-labelledby="panelsStayOpen-heading{{foropublicados.id}}">
          <div class="accordion-body">
            <a class="fs-5 fw-bold enlace" href="{% url 'mostrarforo' foropublicados.id  %}">{{foropublicados.tituloforo}}</a>
            <p style="text-overflow: ellipsis; text-align: justify;white-space: nowrap;overflow: hidden; font-size: 1rem;">{{foropublicados.contenidoforo}}</p>
            <p style="text-align:justify;">Categoria:
                  {% for listadocategorias in foropublicados.categoriasforo.all %}
                <span class="d-inline">{{listadocategorias.nombre}} / </span> 
                
                  {% endfor %}
                </p>
            
            {% if user.is_authenticated %}
                <p>Ingresa a conversación: <a href="{% url 'chatforo' foropublicados.id %}" class="text-decoration-none enlace">Click Aquí</a></p>
            {% endif %}
              
            
            <p style="text-align:right;">Creado {{foropublicados.created|naturaltime }}</p>
            <p style="text-align:right;">Por {{ foropublicados.autorforo }}&nbsp;<img class="border rounded-circle" src="{{foropublicados.autorforo.perfil.imagenperfil.url}}" alt="" width="50" height="50"></p>
          </div>
        </div>
        {% if user.is_authenticated %}
        <div>
          {% if request.user == foropublicados.autorforo %}
              <a onclick="abrirmodaleditarforo('{% url 'editarforo' foropublicados.id %}')" class="btn btn-lg text-warning" role="button"><i class="fa fa-pen"></i></a>
              <a href="{% url 'eliminarforo' foropublicados.id %}" class="btn btn-lg text-danger"><i class="fa fa-trash"></i></a>

          {% endif %}
          <a href="" class="btn btn-lg text-danger"><i class="far fa-heart">&nbsp;1</i></a>
          
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
  {% endif %}
</div>

{% endblock  %}
<!-- Columna derecha -->

