{% load static %}
{% load crispy_forms_tags %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h2 mb-2 fw-bold py-2">Escribir Mensaje</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
                <form action="{% url 'agregarmensaje' foroarticulo.id %}" method="post">
                    {% csrf_token %}
                            
                    
                        {{ formmensaje | crispy }}
                    
                            
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit" data-dismiss="modal">Confirmar</button>
                </form>
            </div>
        </div>
    </div>





   
   
